@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/* THE FIRST WEBPAGE OF THE WEBSITE */
.home-page {
    width: 100%;
    height: 100vh;
    background: white;
}

.home-page .nav-bar {
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page .nav-bar header {
    font-size: 26px;
    font-weight: bold;
    color: orangered;
    padding-left: 15px;
    font-weight: 400;
}

.home-page .nav-bar nav ul {
    list-style: none;
}

.home-page .nav-bar nav ul li {
    display: inline-block;
}

.home-page .nav-bar nav ul li a {
    padding: 0px 30px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}

.home-page .nav-bar nav ul li a:hover {
    color: orangered;
}

.home-page .nav-bar button {
    display: none;
    background: transparent;
    border: none;
    color: black;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s all ease-in-out;
}

.home-page .nav-bar button:hover {
    color: orangered;
}

.home-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content h1 {
    text-transform: capitalize;
    font-size: 50px;
}

#my-name {
    color: orangered;
}

.home-content p {
    font-size: 22px;
    color: orangered;
    font-style: italic;
}

/* THE SECOND WEBPAGE OF THE WEBSITE */
.about-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-page .about-image .my-image {
    height: 480px;
    width: 355px;
}

.about-page .about-description {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.about-page .about-description header {
    font-size: 45px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: orangered;
}

.about-page .about-description p {
    font-size: 18px;
    width: 80%;
}

.about-page .about-description h2 {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 300;
    color: orangered;
}

.about-page .about-description .tech-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: fit-content;
    height: 100px;
}

.about-page .about-description .tech-stack i {
    font-size: 80px;
    background: transparent;
    transition: .6s all ease;
    cursor: pointer;
}

.about-page .about-description .tech-stack i:hover {
    scale: 1.1;
}



/* THE THIRD WEBPAGE OF THE WEBSITE */
.services-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services-page h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 300;
    color: black;
    margin-top: 5px;
    font-style: italic;
}

.services-page .underline {
    width: 120px;
    height: 3px;
    background-color: orangered;
}

.services-page .my-services {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.services-page .my-services .service {
    position: relative;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 450px;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(210, 198, 198);
    transition: 0.8s all ease-in-out;
}

.services-page .my-services .service #service-icon {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: black;
}

.services-page .my-services .service h3 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 400;
}

.services-page .my-services .service p {
    font-size: 16px;
    margin: 0px 20px;
}

.services-page .my-services .service:hover {
    background-color: orangered;
    color: white;
}


/*MEDIA QUERY FOR MOBILE DEVICES*/
@media only screen and (max-width: 767px) {

    /*FIRST WEBPAGE OF THE WEBSITE*/
    .home-page {
        width: 100%;
        height: 100vh;
    }

    .home-page .nav-bar {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-page .nav-bar header {
        font-size: 18px;
        padding-left: 6px;
        align-self: flex-start;
    }

    .home-page .nav-bar nav {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-280px);
        width: 50%;
        align-self: flex-end;
        transition: .6s all ease-in-out;
    }

    .home-page .nav-bar nav ul {
        width: 100%;
        text-align: center;
    }

    .home-page .nav-bar nav ul li {
        display: block;
        padding: 25px 0px;
    }

    .home-page .nav-bar nav ul li a {
        font-size: 16px;
        text-decoration: none;
        text-transform: capitalize;
        transition: .4s all ease-in-out;
    }

    .home-page .nav-bar nav ul li a:hover {
        padding-left: 32px;
    }

    .home-page .nav-bar button {
        display: block;
        background: transparent;
        align-self: flex-start;
        margin-top: 4px;
        margin-right: 4px;
    }

    .home-content {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home-content h1 {
        font-size: 2.5rem
    }

    /*SECOND WEBPAGE OF THE WEBSITE*/
    .about-page {
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-page .about-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-page .about-image .my-image {
        height: 400px;
        width: 300px;
    }

    .about-page .about-description {
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 15px;
        padding-left: 0px;
    }

    .about-page .about-description header {
        font-size: 35px;
        margin-bottom: 5px;
        text-transform: capitalize;
        color: orangered;
    }

    .about-page .about-description p {
        font-size: 16px;
        width: 70%;
        text-align: center;

    }

    .about-page .about-description h2 {
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 300;
        color: orangered;
    }

    .about-page .about-description .tech-stack {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: fit-content;
        height: 100px;
    }

    .about-page .about-description .tech-stack i {
        font-size: 45px;
        background: transparent;
    }


    /*THIRD WEBPAGE OF THE WEBSITE*/
    .services-page h2 {
        font-size: 28px;
    }


    .services-page .underline {
        width: 80px;
        height: 4px;
        background-color: orangered;
    }


    .services-page .my-services {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services-page .my-services .service {
        width: 70%;
    }

}

/*MEDIA QUERY FOR TABLET SCREENS*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /*FIRST WEBPAGE OF THE WEBSITE*/
    .home-page {
        width: 100%;
        height: 100vh;
    }

    .home-page .nav-bar {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-page .nav-bar header {
        font-size: 24px;
        align-self: flex-start;
        padding-left: 6px;
        margin-top: 4px;
    }

    .home-page .nav-bar nav {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-280px);
        width: 50%;
        align-self: flex-end;
        transition: .6s all ease-in-out;
    }

    .home-page .nav-bar nav ul {
        width: 100%;
        text-align: center;
    }

    .home-page .nav-bar nav ul li {
        display: block;
        padding: 25px 0px;
    }

    .home-page .nav-bar nav ul li a {
        font-size: 16px;
        text-decoration: none;
        text-transform: capitalize;
        transition: .4s all ease-in-out;
    }

    .home-page .nav-bar nav ul li a:hover {
        padding-left: 32px;
    }

    .home-page .nav-bar button {
        display: block;
        background: transparent;
        align-self: flex-start;
        margin-right: 4px;
        margin-top: 4px;
    }

    .home-content {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home-content h1 {
        font-size: 2.5rem
    }

    /*SECOND WEBPAGE OF THE WEBSITE*/
    .about-page {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-page .about-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-page .about-image .my-image {
        height: 430px;
        width: 340px;
    }

    .about-page .about-description {
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .about-page .about-description header {
        font-size: 35px;
        margin-bottom: 5px;
        text-transform: capitalize;
        color: orangered;
    }

    .about-page .about-description p {
        font-size: 18px;
        width: 80%;
        text-align: center;

    }

    .about-page .about-description h2 {
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 300;
        color: orangered;
    }

    .about-page .about-description .tech-stack {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: fit-content;
        height: 100px;
        margin-bottom: 5px;
    }

    .about-page .about-description .tech-stack i {
        font-size: 60px;
        background: transparent;
    }

    /*THIRD WEBPAGE OF THE WEBPAGE*/
    .services-page {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7px;
        border: 1px solid black;
    }

    .services-page h2 {
        font-size: 30px;
    }

    .services-page .my-services {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    .services-page .my-services .service {
        width: 45%;
    }

    .services-page .my-services .service #service-icon {
        font-size: 60px;
    }

    .services-page .my-services .service h3 {
        font-size: 30px;
    }

    .services-page .my-services .service p {
        font-size: 16px;
    }

}