body::-webkit-scrollbar {
    display: none;
}

.home {
    background: #142d4c;
    height: 100vh;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: orangered;
}

.introduction {
    margin-top: 10%;
    color: white;
}

.my-name {
    font-size: 70px;
    color: #00FFFF;
    margin-top: -20px;
}

.description1 {
    color: darkgray;
    font-size: 45px;
}

.description2 {
    color: darkgray;
    margin-top: -10px;
}

.profile-btn {
    width: 250px;
}

.passport-photo {
    width: 400px;
    border-radius: 50%;
}

.about {
    height: 100vh;
}

.about .h1{
    color: #142d4c;
}

.about-image {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    align-self: center;
}

.skill-icons i {
    cursor: pointer;
    transition: .6s all ease-in-out;
}

.skill-icons i:hover {
    transform: scale(1.1);
}

.html-icon {
    color: #ff7b00;
}

.css-icon {
    color: #006eff;
}

.bootstrap-icon {
    color: #B197FC;
}

.javascript-icon {
    color: #FFD43B;
}

.react-icon {
    color: #10a8da;;
}

.services {
    height: fit-content;
}

.card i {
    font-size: 60px;
}

.card p {
    width: 70%;
}
