body::-webkit-scrollbar {
    display: none;
}

.home {
    background: #142d4c;
    height: 100vh;
}

.home nav {
    position: fixed;
    top: 0;
    background-color: #142d4c;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: orangered;
}

.introduction {
    padding-top: 15%;
    color: white;
}

.my-name {
    font-size: 70px;
    color: #00FFFF;
    margin-top: -20px;
}

.description2 {
    color: darkgray;
    margin-top: -10px;
}

.profile-btn {
    width: 250px;
}

.passport-photo {
    width: 400px;
    border-radius: 50%;
}

.about {
    height: 100vh;
}

.about .h1{
    color: #142d4c;
}

.about-image {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    align-self: center;
}

.skill-icons i {
    font-size: 50px;
    cursor: pointer;
    transition: .6s all ease-in-out;
}

.skill-icons i:hover {
    transform: scale(1.1);
}

.html-icon {
    color: #ff7b00;
}

.css-icon {
    color: #006eff;
}

.bootstrap-icon {
    color: #B197FC;
}

.javascript-icon {
    color: #FFD43B;
}

.react-icon {
    color: #10a8da;;
}

.service {
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.card {
    height: fit-content;
    cursor: pointer;
    transition: .6s all ease-in-out;
}

.card:hover {
    background-color: #7CB9E8;
}

.card:hover i {
    color: white;
}

.card i {
    font-size: 60px;
}

.card p {
    width: 70%;
}

.location {
    height: 30vh;
}

.location-desc {
    font-size: 60px;
    font-style: italic;
    color: #13274F;
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 10px;
}

.project {
    width: 40%;
    /* display: flex; */
    border: 1px solid lightgray;
    cursor: pointer;
    transition: .4s all ease;
}

.project:hover {
    box-shadow: 2px 2px 2px lightgray;
} 

.project-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}

.description {
    padding: 10px;
}

.view a {
    color: black;
    text-decoration: none;
    transition: .4s all ease;
}

.view a:hover {
    color: orangered;
}

.project h2,
.project p {
    padding-left: 12px;
    margin: 0px;
}

.project p {
    font-weight: 400;
}

.underline {
    width: 100px;
    height: 1px;
    background-color: orangered;
}

.social-links a i {
    color: black;
    transition: .4s all ease-in-out;
}

.social-links a i:hover {
    color: orangered;
}

.links .links-div {
    width: 30%;
}

.links .read-more {
    width: 150px;
    height: 40px;
    border-radius: 0px 1rem 0px 1rem;
    transition: .4s all ease-in-out;
    background: transparent;
}

.links .read-more:hover {
    border-radius: 1rem 0px 1rem 0px;
    background-color: orangered;
    border: none;
    outline: none;
    color: white;
}

.links div ul {
    list-style-type: none;
}

.links div ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: .6s all ease-in-out;
}

.links div ul li a:hover {
    color: orangered;
    transform: translateX(-4px);
}

@media (min-width: 992px) {
    .service {
        margin-top: 30px;
    }

    .card {
        height: 450px;
    }
}

/* Large breakpoint (typically 992px and above in Bootstrap) */
@media (max-width: 992px) {
    .home {
        height: 100vh;
    }

    .home nav {
        height: fit-content;
    }

    .introduction {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30%;
        /* border:  1px solid red; */
    }

    .passport-photo {
        max-width: 50%;
        height: auto;
        margin-bottom: 10px;
    }

    /* Hide the image at large breakpoint */
    .passport-photo {
      display: block;
    }
    
    /* Center the content in the .introduction container */
    .introduction {
      justify-content: center; /* Centers the content horizontally */
      text-align: center; /* Centers the text */
    }
  
    /* Ensure the description column is centered */
    .intro-desc {
      width: 100%; /* Makes the intro description take full width */
      justify-content: center; /* Centers the content vertically */
      align-items: center; /* Centers the content horizontally */
    }

    .about img{
        display: none;
    }

    .card {
        width: 80%;
    }

    .services {
        height: fit-content;
    }

    .service {
        height: fit-content;
        flex-direction: column;  
    }

    .card {
        width: 100%;
    }
    
    .projects-section {
        height: fit-content;
        width: 100%;
        padding: 10% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
    }

    .projects-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
    }

    .project-desc {
        justify-content: space-around;
    }

    .view a {
        margin-right: 20px;
    }


    .location-desc {
        font-size: 40px;
    }

    /* .footer {
        border: 1px solid black;
    } */

    .socials h1 {
        display: none;
    }

    .socials .social-links a{
        display: none;
        color: red;
    }

    .socials h1 {
        text-align: left;
        align-self: flex-start;
    }

    .social-links {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        /* background-color: red; */
    }

    .links-div {
        min-width: 100%;
    }


    .newsletter .input-group {
        display: flex;
        flex-direction: column;
    }

    .newsletter .input-group button {
        width: 40%;
        margin-top: 2px;
        border-radius: 0px;
    }

    .footer .container {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .footer .container input{
        width: 90%;
    }

}

@media screen and (max-width: 500px) {
    .home {
        height: 100vh;
    }

    .about-description .h1 {
        font-size: 24px;
        padding-left: 12px;
    }

    .about-description .fs-5 {
        font-size: 14px;
        padding-left: 12px;
        padding-right: 6px;
    }

    .skill-icons {
        padding-left: 12px;
    }

   .skill-icons i {
    flex-wrap: wrap;
    font-size: 30px;
    gap: 0;
   }

    .services {
        width: 100vw;
    }

    .service {
        width: 100%;
    }

    .service .card {
        width: 100%;
    }

    .projects-section {
        height: fit-content;
        width: 100%;
        padding: 10% 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
    }

    .project-desc {
        justify-content: space-around;
    }

    .view a {
        margin-right: 20px;
    }

}
